.switchMode {
  position: relative;
}

.switchMode svg {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  opacity: 1;
  transition:
    opacity 200ms ease-out,
    transform 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.sun[data-hide='true'] {
  opacity: 0;
  transform: rotate(-45deg);
}

.moon[data-hide='true'] {
  opacity: 0;
  transform: rotate(90deg);
}
