@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  a {
    transition: text-underline-offset 300ms;
    @apply underline-offset-4;
  }

  a:hover {
    @apply underline-offset-[6px];
  }

  p a {
    @apply underline;
  }

  p a:hover,
  ul a:hover {
    @apply opacity-80;
  }

  address {
    @apply font-normal;
  }
}

@layer utilities {
  .debug {
    @apply ring-1 ring-inset ring-red-500;
  }

  .icon-md svg {
    width: 20px;
    height: 20px;
  }
}
