@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  a {
    transition: text-underline-offset 300ms;
    @apply underline-offset-4;
  }

  a:hover {
    @apply underline-offset-[6px];
  }

  p a {
    @apply underline;
  }

  p a:hover,
  ul a:hover {
    @apply opacity-80;
  }

  address {
    @apply font-normal;
  }
}

@layer utilities {
  .icon-md svg {
    width: 20px;
    height: 20px;
  }
}
