@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  a {
    transition: text-underline-offset 300ms;
    @apply underline-offset-4;
  }

  a:hover {
    @apply underline-offset-[6px];
  }

  p a {
    @apply underline;
  }

  p a:hover,
  ul a:hover {
    @apply opacity-80;
  }

  address {
    @apply font-normal;
  }
}

@layer utilities {
  .icon-md svg {
    width: 20px;
    height: 20px;
  }
}
