@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sticky-nav {
    position: sticky;
    z-index: 10;
    top: 0;
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.1 ease-in-out;
}

@layer base {
    p a {
        @apply underline;
    }
}

@layer components {
    .text-teaser {
        @apply text-2xl sm:text-3xl md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight xl:text-6xl xl:leading-tight;
    }

    .text-teaser h2 {
        @apply font-bold mb-4 md:mb-6;
    }

    .text-teaser p a {
        @apply text-highlight dark:text-highlight-dark underline;
    }

    .text-teaser p a:hover {
        @apply opacity-80;
    }
}
